html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Start Page
    link(rel="stylesheet", href="/static/bootstrap.min.css", integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu", crossorigin="anonymous")
    link(rel="stylesheet", href="/static/bootstrap-theme.min.css", integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ", crossorigin="anonymous")
    if !everythingIsHealthy
        script.
            setTimeout(() => document.location.reload(), 1000)
  body
    div.container
      h1 Status
      table.table
          tr(class=statuses.api.success ? 'success' : 'danger')
              th API
              td= statuses.api.message
          tr(class=statuses.ui.success ? 'success' : 'danger')
              th UI
              td= statuses.ui.message
          tr(class=statuses.apiTests.success ? 'success' : 'danger')
              th API Tests
              td= statuses.apiTests.message
      h1 README
      div!= readme